body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.App {
    width: 90%;
    max-width: 1200px;
    margin: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grids {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.grid {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 22%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.grid p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}